{% extends 'pages/admins/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="m-0"></h2>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
          <li class="breadcrumb-item active">Contact</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-3">
        <!--messages-->
        {% include 'message.html' %}
        <!--messages-->
        <div class="card shadow">
          <div class="card-header">
            <h2>User Contacts</h2>
          </div>
          <div class="card-body">
            
            <!--table-->
            <div class="table-responsive animate__animated animate__fadeIn">
              <table id="mytable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sender name</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Message</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in  contact %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.website }}</td>
                        <td>{{ c.message }}</td>
                        <td style="display:flex;">
                            <a onclick="return confirm('Are you you want to delete?')" href="{% url 'delete_contact' c.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!--table-->
          </div>
        </div>
      </div>
    </div>

  </div><!--/. container-fluid -->
</section>
<!-- /.content -->

{% endblock %}
