{% load static %}
<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
      <img src="{% static 'assets/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">JSTV</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar p-0">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{% url 'admin_home' %}"  class="nav-link {% if request.path == '/admin_home'%} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li class="nav-item">
            <a href="{% url 'slider_page' %}" class="nav-link {% if request.path == '/slider_page' %}active{% endif %}">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Sliders
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li class="nav-item">
            <a href="{% url 'news_details' %}" class="nav-link {% if request.path == '/news_details' %}active{% endif %}">
              <i class="nav-icon fas fa-home"></i>
              <p>
               News
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
          </li>
          <div class="dropdown-divider"></div>

          <li class="nav-item">
            <a href="{% url 'gallery_details' %}" class="nav-link {% if request.path == '/gallery_details' %} active {% endif %}">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gallery
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
        <div class="dropdown-divider"></div>
        
        <li class="nav-item">
            <a href="{% url 'contact_details' %}" class="nav-link {% if request.path == '/contact_details' %} active {% endif %}">
              <i class="nav-icon fas fa-book"></i>
              <p>
                contact
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a href="{% url 'email_details' %}" class="nav-link {% if request.path == '/email_details' %} active {% endif %}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Emails
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>
      <div class="dropdown-divider"></div>

        <li class="nav-item">
          <a href="{% url 'about_details' %}" class="nav-link {% if request.path == '/' %} active {% endif %}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              About
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>
      <div class="dropdown-divider"></div>

          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-lock"></i>
              <p>
                Logout
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
        <div class="dropdown-divider"></div>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>